{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["gulpfile.js"],
      "optionalDependencies": false,
      "peerDependencies": true
    }],
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off"
  }
}
